<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>投诉信息管理</title>
	<link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <link href="css/common.css" rel="stylesheet" th:href="@{/css/common.css}">
    <script type="text/javascript" src="js/jquery-1.12.4.min.js" th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js" th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
      <script src="/My97DatePicker/WdatePicker.js" type="text/javascript" th:src="@{/My97DatePicker/WdatePicker.js}"></script>
    <script src="jquery-validation-1.14.0/lib/jquery.js" th:src="@{/jquery-validation-1.14.0/lib/jquery.js}"></script>
    <script src="jquery-validation-1.14.0/dist/jquery.validate.min.js" th:src="@{/jquery-validation-1.14.0/dist/jquery.validate.min.js}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#inputForm").validate({
			rules : {
				content: {
					required : true
				},
				tousuUser: {
					required : true
				},
			},
			messages : {
				content: {
					required : "投诉内容必填"
				},
				tousuUser: {
					required : "投诉用户必填"
				},
			}
		})
		});
	</script>
</head>
<body>
	<br>
	<form id="inputForm" action="/sys/wyComplainInfo/save" method="post" class="form-horizontal"  enctype="multipart/form-data">
		<input type="hidden" name="id" th:value="${wyComplainInfo.id}" />
			
			<div class="form-group" id="roleSelect">
				<label for="content" class="col-sm-1 control-label">投诉内容<b class="error">*</b></label>
   				<div class="col-sm-6">
					<textarea rows="" cols="" name="content" class="form-control">[[${wyComplainInfo.content}]]</textarea>
						
				</div>
			</div>
			
			<div class="form-group" id="roleSelect">
				<label for="tousuUser" class="col-sm-1 control-label">投诉用户<b class="error">*</b></label>
   				<div class="col-sm-6">
			
						 <input name="tousuUser" th:value="${wyComplainInfo.tousuUser}" maxlength="255" class="form-control"/>
				</div>
			</div>
			
			<div class="form-group" id="roleSelect">
				<label for="tousuTel" class="col-sm-1 control-label">投诉人电话</label>
   				<div class="col-sm-6">
			
						 <input name="tousuTel" th:value="${wyComplainInfo.tousuTel}" maxlength="255" class="form-control"/>
				</div>
			</div>
			
			<div class="form-group" id="roleSelect">
				<label for="tousuTime" class="col-sm-1 control-label">投诉时间</label>
   				<div class="col-sm-6">
			
						 <input name="tousuTime" th:value="${wyComplainInfo.tousuTime}"  
						 onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});" readonly="readonly" class="form-control"/>
				</div>
			</div>
			
			<div class="form-group" id="roleSelect" style="display: none;">
				<label for="luruUser" class="col-sm-1 control-label">录入人</label>
   				<div class="col-sm-6">
			
						 <input name="luruUser" th:value="${wyComplainInfo.luruUser}" maxlength="255" class="form-control"/>
				</div>
			</div>
			
			<div class="form-group" id="roleSelect" style="display: none;">
				<label for="addTime" class="col-sm-1 control-label">录入时间</label>
   				<div class="col-sm-6">
			
						 <input name="addTime" th:value="${wyComplainInfo.addTime}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});" readonly="readonly"  class="form-control"/>
				</div>
			</div>
			
			<div class="form-group" id="roleSelect">
				<label for="isCall" class="col-sm-1 control-label">是否回电</label>
   				<div class="col-sm-6">
			
					 <select class="form-control" name="isCall">
						<option value="1" th:selected="${wyComplainInfo.isCall=='1'}">是</option>
						<option value="0" th:selected="${wyComplainInfo.isCall=='0'}">否</option>
					</select>
				</div>
			</div>
			
			<div class="form-group" id="roleSelect">
				<label for="remark" class="col-sm-1 control-label">备注</label>
   				<div class="col-sm-6">
			
						 <input name="remark" th:value="${wyComplainInfo.remark}" maxlength="255" class="form-control"/>
				</div>
			</div>
			<div class="form-group" id="roleSelect">
				<label for="firstname" class="col-sm-1 control-label"></label>
   				<div class="col-sm-6">
					<button class="btn btn-success" type="submit">保 存</button>
					<button class="btn btn-inf" type="button" onclick="javascript:history.go(-1);">返 回</button>
				</div>
			</div>
	</form>
</body>
</html>